<script type="text/javascript">
  jQ = jQuery.noConflict();
  jQ(function ($) {

    $(document).ready(function () {
      console.log('Ready!');
      $('#webTicker').webTicker({
        duplicate: true,
        rssfrequency: 0,
        startEmpty: false,
        hoverpause: true,
        transition: "linear"
      });
    });

  });
</script>

<style type="text/css">
  #list-stickers {
    position: absolute;
    left: 0;
  }

  div#stickers {
    overflow: hidden;
    padding: 7px 0;
  }

  ul.list-stickers {
    position: relative;
    display: flex;
    width: inherit;

  }

  ul.list-stickers li {
    display: inline-block;
    margin-left: 30px;
    word-wrap: unset;
    white-space: nowrap;
  }

  .list-stickers li a {
    color: #eee;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px;
  }

  div.news-sticker {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #eee;
    margin: 30px 0;
    /*padding: 15px 0*/
  }

  div.news-sticker .container {
    background-color: #00b5ad;
  }

  .sticker-title {
    padding: 15px 0;
  }

  .sticker-title {
    font-weight: bold;
    letter-spacing: 1.6px;
  }

  .news-sticker .bg-title {
    background: #9e1a30;
  }
</style>

<div class="news-sticker">
  <div class="container">
    <div class="row">
      <div class="col-md-1 bg-title">
        <div class="sticker-title">
          Actualités
        </div>
      </div>
      <div class="col-md-11 pl-0">
        <div id="stickers">
          <ul id="webTicker" class="list-stickers">
            <li data-update="item1">
              <i class="fa fa-angle-double-right"></i>
              <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            </li>
            <li data-update="item2">
              <i class="fa fa-angle-double-right"></i>
              <a href="#">Praesent id pellentesque purus.</a>
            </li>
            <li data-update="item3">
              <i class="fa fa-angle-double-right"></i>
              <a href="#">Sed sit amet mi pretium, iaculis nibh sit amet, aliquet turpis.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>