<script type="text/javascript">
  jQ = jQuery.noConflict();
  jQ(function ($) {

    $(document).ready(function () {
      console.log('Ready!');
      var sticker_container = $('#stickers');
      var sticker = $('.list-stickers');
      var list_count = sticker.find('li');
      var right = function () {
        sticker.hide();
        posMouseEnter = null;
        sticker.animate({
          left: sticker_container.innerWidth()
        }, 600, left);

      };
      var left = function () {
        sticker.show();
        var bond = sticker.innerWidth();
        sticker.animate({
          left: -bond
        }, 6000 * list_count.length, "linear", right);

      };
      sticker
        .on('mouseenter', function () {
          $(this).stop();
        })
        .on('mouseleave', function () {
          left();
        });
      right();
    });

  });
</script>

<style type="text/css">
  #list-stickers {
    position: absolute;
    left: 0;
  }

  div#stickers {
    overflow: hidden;
  }

  ul.list-stickers {
    position: relative;
    display: flex;
    width: inherit;

  }

  ul.list-stickers li {
    display: inline-block;
    margin-left: 30px;
    word-wrap: unset;
    white-space: nowrap;
  }
 .list-stickers li a {
   color: #eee;
 }

  div.news-sticker {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #eee;
    margin: 30px 0;
    /*padding: 15px 0*/
  }

  div.news-sticker .container {
    background-color: #00b5ad;
  }

  .sticker-title,
  div#stickers {
    padding: 15px 0;
  }

  .sticker-title {
    font-weight: bold;
    letter-spacing: 1.6px;
  }

  .news-sticker .bg-title {
    background: #9e1a30;
  }
</style>

<div class="news-sticker">
  <div class="container">
    <div class="row">
      <div class="col-md-1 bg-title">
        <div class="sticker-title">
          Actualités
        </div>
      </div>
      <div class="col-md-11">
        <div id="stickers">
          <ul class="list-stickers">
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
            <li><a href="#">Praesent id pellentesque purus.</a></li>
            <li><a href="#">Sed sit amet mi pretium, iaculis nibh sit amet, aliquet turpis.</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>