<div layout="column" ng-cloak>
  <div class="ui two column centered stackable grid">
    <div class="column container-form">
      <form name="annonceForm" ng-submit="annonceFormSubmit(annonceForm.$valid)" novalidate>
        <md-content class="mb-20">
          <h2 class="md-title mb-20">
            Déposer une annonce
          </h2>
        </md-content>
        <md-content class="md-no-momentum">

          <!-- Titre -->
          <md-input-container class="md-icon-float md-block">
            <label>Titre de votre annonce</label>
            <input ng-model="form.title" name="title" type="text" ng-required="true">
            <div class="hint">Maison ou Terrain dit: «Touraine Loir et Cher»</div>
            <div ng-messages="annonceForm.title.$error">
              <div ng-message="required">Veuillez donner un titre à votre annonce.</div>
            </div>
          </md-input-container>

          <!-- Louer ou Vendre? -->
          <md-input-container class="md-icon-float md-block">
            <label>Louer ou Vendre?</label>
            <md-select ng-model="form.type" name="formtype" ng-required="true">
              <md-option ng-value="Type.slug" ng-repeat="Type in Types">
                {{Type.name}}
              </md-option>
            </md-select>
            <div ng-messages="annonceForm.formtype.$error">
              <div ng-message="required">Vous voulez louer ou vendre un bien?</div>
            </div>
          </md-input-container>

        </md-content>

        <md-content>
          <div layout="row" layout-xs="column" layout-sm="column">

            <!-- Region -->
            <md-input-container class="md-block" flex-gt-sm="column">
              <label>Region</label>
              <md-select ng-model="form.region" md-on-close="clearSearchTerm()">
                <md-select-header>
                  <input ng-model="searchRegion"
                         type="search"
                         placeholder="Trouver une region.."
                  >
                </md-select-header>
                <md-optgroup label="Region">
                  <md-option ng-value="Region.slug" ng-repeat="Region in Regions | filter:searchRegion">
                    {{Region.name}}
                  </md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>

            <!-- Ville -->
            <md-input-container class="md-block" flex-gt-sm="column">
              <label>Ville</label>
              <input ng-model="form.city" name="city" type="text" ng-required="true">
              <div ng-messages="annonceForm.city.$error">
                <div ng-message="required">Veuillez s'il vous plait informer la ville qui se trouve cette annonce.</div>
              </div>
            </md-input-container>

          </div>
        </md-content>

        <md-content>
          <div layout="row" layout-xs="column" layout-sm="column">

            <!-- Adresse -->
            <md-input-container class="md-block" flex-gt-sm="column">
              <label>Adresse</label>
              <input ng-model="form.address" name="address" type="text" ng-required="true">
              <div ng-messages="annonceForm.address.$error">
                <div ng-message="required">Veuillez s'il vous plait informer l'adresse.</div>
              </div>
            </md-input-container>

            <!-- Code postal -->
            <md-autocomplete flex=""
                             required="true"
                             md-input-name="zipcode"
                             md-input-minlength="3"
                             md-input-maxlength="3"
                             md-no-cache="true"
                             md-selected-item="form.zipcode"
                             md-search-text="regionSearchText"
                             md-items="region in regionQuery(regionSearchText)"
                             md-item-text="region.display"
                             md-require-match=""
                             md-floating-label="Code postal">
              <md-item-template>
                <span md-highlight-text="regionSearchText">{{region.display}}</span>
              </md-item-template>
              <div ng-messages="annonceForm.zipcode.$error" ng-if="annonceForm.zipcode.$touched">
                <div ng-message="required">Vous devez avoir une <b>code postal</b></div>
                <div ng-message="md-require-match">Veuillez sélectionner une code postal existante.</div>
                <div ng-message="minlength">Votre entrée n'est pas assez longue.</div>
                <div ng-message="maxlength">Votre entrée est trop longue.</div>
              </div>
            </md-autocomplete>

          </div>
        </md-content>

        <!-- Type de bien? -->
        <md-content>
          <div layout-wrap layout-gt-sm="row">
            <div flex-gt-sm="50">
              <label>Type de bien?</label>
              <md-select ng-model="form.property" name="property" ng-required="true" placeholder="Type de bien">
                <md-option ng-value="Property.slug"
                           ng-repeat="Property in Properties | orderBy: '_id'">
                  {{Property.name}}
                </md-option>
              </md-select>
            </div>
          </div>
        </md-content>

        <!-- Titre de propriété ou acte de propriété -->
        <md-content>
          <div layout-wrap layout-gt-sm="row">
            <div flex-gt-sm="50">
              <md-checkbox ng-model="form.deed"
                           ng-disabled="form.property != 'ground'"
                           aria-label="Titre de propriété ou acte de propriété">
                Avec un titre de propriété ou acte de propriété
              </md-checkbox>
            </div>
          </div>
        </md-content>

        <md-content>
          <div layout-wrap layout-gt-sm="row">
            <div flex-gt-sm="50">
              <md-checkbox ng-model="form.limited"
                           ng-disabled="form.property != 'ground'"
                           aria-label="Le terrain est-il borné?">
                Le terrain est-il borné?
              </md-checkbox>
            </div>
          </div>
        </md-content>

        <md-content>
          <div layout-wrap layout-gt-sm="row">
            <div flex-gt-sm="50">

              <!-- Nom du propriétaire -->
              <md-input-container class="md-icon-float md-block">
                <label>Nom du propriétaire</label>
                <input ng-model="form.owner_name" name="owner_name" type="text" ng-required="true">
                <div ng-messages="annonceForm.owner_name.$error">
                  <div ng-message="required">Veuillez préciser ici le nom du propriétaire du bien.</div>
                </div>
              </md-input-container>

            </div>
          </div>
        </md-content>

        <md-content>
          <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="form.description" ng-required="true" md-maxlength="500" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </md-content>

        <!--Détails sur la maison-->
        <md-content>

          <h2 class="md-title" style="margin-bottom: 0">
            Détails sur la propriété ({{form.property | propertyName}})
          </h2>
          <div class="hint" style="margin-bottom: 20px">
            <!--Ajouter "0" sur les champs suivante s'il n'existe pas dans la propriété-->
          </div>

          <div layout-gt-sm="row">
            <!-- Chambre -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Chambre</label>
              <input name="bedroom"
                     ng-required="form.property != 'ground'"
                     ng-pattern="/^[0-9]/"
                     ng-disabled="form.property == 'ground'"
                     ng-model="form.bedroom" />

              <div ng-messages="annonceForm.bedroom.$error">
                <div ng-message="required">Veuillez donner un chiffre exact du nombre de chambre.</div>
                <div ng-message="pattern">Ce champ doit être des chiffres.</div>
              </div>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <!-- Cuisine -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cuisine</label>
              <input name="kitchen"
                     ng-required="form.property != 'ground'"
                     ng-model="form.kitchen"
                     ng-disabled="form.property == 'ground'"
                     ng-pattern="/^[0-9]/" />

              <div ng-messages="annonceForm.kitchen.$error">
                <div ng-message="required">Veuillez donner un chiffre exact du nombre de cuisine.</div>
                <div ng-message="pattern">Ce champ doit être des chiffres.</div>
              </div>
            </md-input-container>

          </div>

          <div layout-gt-sm="row">

            <!-- Garage -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Garage</label>
              <input name="garage"
                     ng-required="form.property != 'ground'"
                     ng-model="form.garage"
                     ng-disabled="form.property == 'ground'"
                     ng-pattern="/^[0-9]/"/>

              <div ng-messages="annonceForm.garage.$error">
                <div ng-message="required">Veuillez donner un chiffre exact du nombre de garage.</div>
                <div ng-message="pattern">Ce champ doit être des chiffres.</div>
              </div>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <!-- Salle de bains -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Salle de bains</label>
              <input name="bathroom"
                     ng-required="form.property != 'ground'"
                     ng-model="form.bathroom"
                     ng-disabled="form.property == 'ground'"
                     ng-pattern="/^[0-9]/"/>

              <div ng-messages="annonceForm.bathroom.$error">
                <div ng-message="required">Veuillez donner un chiffre exact du nombre du salle de bains.</div>
                <div ng-message="pattern">Ce champ doit être des chiffres.</div>
              </div>
            </md-input-container>

          </div>

        </md-content>

        <!-- Superficie -->
        <md-content>
          <div layout-wrap layout-gt-sm="row">
            <div flex-gt-sm="50">

              <!-- Surface -->
              <md-input-container class="md-block">
                <label>Surface</label>
                <input ng-model="form.surface" name="surface" type="text" ng-required="true" ng-pattern="/^[0-9]/"/>
                <div ng-messages="annonceForm.surface.$error">
                  <div ng-message="pattern">
                    Ce champ doit être des chiffres.
                  </div>
                  <div ng-message="required">Veuillez donner un chiffre exact du surface.</div>
                </div>
              </md-input-container>
            </div>

            <div flex-gt-sm="20">

              <!-- Unité -->
              <md-input-container class="md-block">
                <label>Unité</label>
                <md-select ng-model="form.unit" name="unit" ng-required="true">
                  <md-option ng-value="Unit.slug" ng-repeat="Unit in [
                    {slug: 'sqft', name: 'm²'},
                    {slug: 'ha', name: 'Ha'}
                  ]">
                    {{Unit.name}}
                  </md-option>
                </md-select>
                <div ng-messages="annonceForm.unit.$error">
                  <div ng-message="required">Le champ unité est obligatoire.</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </md-content>

        <md-content>
          <h2 class="md-title" style="margin-bottom: 0">Les tarifs</h2>
          <p>Les prix sont en ariary</p>
          <div layout-wrap layout-gt-sm="row">
            <div flex-gt-sm="50">

              <!-- Prix par default -->
              <md-input-container class="md-block">
                <label>Prix par default</label>
                <md-select ng-model="form.default_rate" ng-disabled="form.property == 'ground'"
                           ng-required="form.property != 'ground'">
                  <md-option ng-value="rate.slug" ng-repeat="rate in [
                    {slug: 'monthly', name: 'Prix mensuel'},
                    {slug: 'seasonal', name: 'Prix saisonnière'}
                  ]">
                    {{rate.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div layout-wrap layout-gt-sm="row" >
            <!-- Prix -->
            <md-input-container class="md-icon-float md-icon-right md-block mt-20 mr-40">
              <label>Prix ({{form.property | propertyName}})</label>
              <input ng-model="form.price" type="number" step="1"  ng-required="form.default_rate != 'seasonal'">
              <md-icon md-font-icon="attach_money">attach_money</md-icon>
              <div class="hint" ng-show="form.property != 'ground'">Ce prix est considéré comme le prix mensuel</div>
            </md-input-container>

            <!-- Prix saisonnière -->
            <md-input-container class="md-icon-float md-icon-right md-block mt-20">
              <label>Prix saisonniére</label>
              <input ng-model="form.price_seasonal" type="number" step="1"
                      ng-required="form.default_rate === 'seasonal'"
                      ng-disabled="form.property === 'ground'">
              <md-icon md-font-icon="attach_money">attach_money</md-icon>
            </md-input-container>
          </div>
        </md-content>

        <!-- Equipement (amenities) -->
        <md-content>
          <h2 class="md-title">Equipements</h2>
          <div layout="row" layout-wrap flex>
            <div flex="25" ng-repeat="amenitie in Amenities">

              <md-checkbox ng-checked="exists(amenitie.slug, form.amenitieSelected)"
                           ng-click="toggle(amenitie.slug, form.amenitieSelected)"
                           ng-disabled="form.property === 'ground'">
                {{ amenitie.name }}
              </md-checkbox>

            </div>
          </div>
        </md-content>

        <!-- Image à la une -->
        <md-content>
          <div class="mt-40">
            <h2 class="md-title">Image à la une</h2>
            <div class="ui small images">

              <div ng-hide="form.featuredImage | isEmpty">
                <img ng-src="{{form.featuredImage.src}}">
                <div class="options">
                  <i class="material-icons" pre-uploadremove="{{form.featuredImage.id}}" selector="featured">delete</i>
                </div>
              </div>

              <div pre-upload="featured" class="add-new-picture">
                <div style="display: none">
                  <input class="featured" input-on-change="previewFeaturedFile" name="featured" type="file"/>
                </div>
                <i class="material-icons">add_photo_alternate</i>
              </div>

            </div>
          </div>
        </md-content>

        <!-- Gallerie -->
        <md-content>
          <div class="mt-40">
            <h2 class="md-title">Galerie</h2>
            <div class="ui small images">

              <div ng-repeat="galerie in form.galeries">
                <img ng-src="{{galerie.src}}">
                <div class="options">
                  <i class="material-icons" pre-uploadremove="{{galerie.id}}" selector="gallery">delete</i>
                </div>
              </div>

              <div pre-upload="gallery" ng-if="form.galeries.length <= 5" class="add-new-picture">
                <div style="display: none">
                  <input class="gallery" input-on-change="previewGalleryFile" name="gallery" type="file" multiple/>
                </div>
                <i class="material-icons">add_photo_alternate</i>
              </div>

            </div>
          </div>
        </md-content>

        <md-content class="mt-40">
          <md-progress-linear md-mode="indeterminate" ng-if="loading"></md-progress-linear>
          <div layout-wrap layout-gt-sm="row">
            <div flex-gt-sm="50">

              <md-button class="md-raised md-primary" ng-disabled="loading" type="submit">Ajouter mon annonce</md-button>

            </div>
          </div>
        </md-content>



      </form>
    </div>
  </div>
</div>