<div layout="column" layout-padding layout-margin >
  <div class="ui two column centered stackable grid">
    <div class="column">
        <form name="userForm" ng-submit="userFormSubmit(userForm.$valid)" novalidate>
          <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Votre nom</label>
              <input ng-model="user.name" type="text" ng-required="true">
            </md-input-container>

            <md-input-container md-no-float class="md-block">
              <label>Votre numero de téléphone</label>
              <input ng-model="user.phone" name="phone" type="text" ng-pattern="/^[0-9]{10}$/" ng-required="true">
              <div class="hint">

              </div>
              <div ng-messages="userForm.phone.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Vous devez fournir un numéro de téléphone.</div>
                <div ng-message="pattern" class="my-message">
                  03######## - S'il vous plaît entrer un numéro de téléphone valide.
                </div>
              </div>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <md-input-container class="md-block">
              <!-- Use floating placeholder instead of label -->
              <label>Votre adresse email</label>
              <input ng-model="user.email" type="email" name="email" ng-required="true" ng-pattern="/^.+@.+\..+$/">

              <div ng-messages="userForm.email.$error" role="alert" multiple>
                <div ng-message="required" >Votre adresse email est obligatoire</div>
                <div ng-message="pattern" >
                  L'adresse email que vous avez ajouter n'est pas valide
                </div>
              </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block">
              <md-button type="submit" class="md-primary md-raised">SUIVANT</md-button>
            </md-input-container>

          </md-content>
        </form>
    </div>
  </div>
</div>